[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zeroconf = "*"
netifaces = "*"
ipaddress = "*"
coverage = "*"

[dev-packages]
twine = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.7"
